@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Jost Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

body {
    font-family: "Roboto Regular", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

header {

}

.content {

}

footer {

}