@font-face {
    font-family: "Poppins Regular";
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Jost Regular";
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("./fonts/Poppins/Poppins-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: #383838;
    font-family: "Poppins Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #2000E7;
    font-family: "Poppins Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 16.8px;
}

h2.smallIntro {
    letter-spacing: normal;
}

.orangeCaption {
    color: #F2BD00;
}

h3 {
    color: #2000E7;
    font-family: "Poppins Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 70px;
}

header ul {
}

.headerMenu ul li {
    display: inline-block;
}

.headerMenuLink {
    font: 400 30px "Poppins Regular";
    color: #686565;
    text-decoration: none;
    margin: 0 40px;
}

.content {

}

.introSection {
    display: flex;
    height: 710px;
    justify-content: space-between;
}

.buttonsWrapper {
    display: flex;
    margin: 100px 0;
}

.buttonBasic {
    align-items: center;
    border-radius: 10px;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    height: 72px;
    margin-right: 60px;
    width: 246px;
    text-decoration: none;
}

.buttonBlue {
    background: #2000E7;
    color: #fff;
}

.buttonWhite {
    background: rgba(32, 0, 231, 0.04);
    color: #2000E7;
}

.aboutMeSection {
    background: #f5fbff;
    display: flex;
    height: 910px;
    justify-content: space-between;
    align-items: center;
}

.projectsSection {
    background: rgba(255, 214, 150, 0.20);
    height: 910px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projects a {
    display: block;
    margin: 20px;
}

.contactMeSection {
    background: #f5fbff;
}

.formSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {

}

.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

input[type=text], input[type=password] {
    width: 653px;
    height: 94px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Poppins Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 40px;
}

textarea {
    width: 653px;
    height: 265px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Poppins Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 40px;
}

input[type=button] {
    width: 327px;
    height: 94px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Poppins Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 40px;
}

footer {
    background: #fff8ea;
    height: 500px;
}

.footerLinks {
    display: flex;
}

.footerLinkSection {
    background: silver;
    margin: 10px;
}

.taCenter {
    text-align: center;
}

.sectionPadding {
    padding: 30px 77px 30px 77px;
}

p {
    margin: 15px 0;
}
