@font-face {
    font-family: "Poppins Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Jost Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("./fonts/Poppins-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: #383838;
    font-family: "Poppins Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.main {
    margin: 0 auto;
    width: 1450px;
}

h2 {
    color: #2000E7;
    font-family: "Poppins Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 16.8px;
}

h2.smallIntro {
    letter-spacing: normal;
}

.orangeCaption {
    color: #F2BD00;
}

h3 {
    color: #2000E7;
    font-family: "Poppins Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 70px;
}

.logo {
    text-align: center;
}

.headerMenu ul li {
    display: inline-block;
}

.headerMenuLink {
    font: 400 30px "Poppins Regular";
    color: #686565;
    text-decoration: none;
    margin: 0 40px;
}

.introSection {
    display: flex;
    height: 710px;
    justify-content: space-between;
}

.buttonsWrapper {
    display: flex;
    margin: 100px 0;
}

.buttonBasic {
    align-items: center;
    border-radius: 10px;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    height: 72px;
    margin-right: 60px;
    width: 246px;
    text-decoration: none;
}

.buttonBlue {
    background: #2000E7;
    color: #fff;
}

.buttonWhite {
    background: rgba(32, 0, 231, 0.04);
    color: #2000E7;
}

.aboutMeSection {
    background: #f5fbff;
    display: flex;
    height: 910px;
    justify-content: space-between;
    align-items: center;
}

.projectsSection {
    background: rgba(255, 214, 150, 0.20);
    height: 910px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.projects a {
    display: block;
    margin: 10px 70px;
}

.contactMeSection {
    background: #f5fbff;
}

.formSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:170px;
}

.form {

}

.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

input[type=text], input[type=password] {
    border: none;
    width: 630px;
    height: 94px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Poppins Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 40px;
}

textarea {
    border: none;
    width: 630px;
    height: 265px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Poppins Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 40px;
}

input[type=button] {
    border: none;
    cursor: pointer;
    width: 327px;
    height: 94px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Poppins Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 40px;
}

footer {
    background: #fff8ea;
    /*height: 500px;*/
}

.footerLinks {
    display: flex;
    padding: 30px 0 30px 0;
}

input.footerInput {
    width: 323px;
    height: 97px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #000;
    color: #FFF;
    font-family: "Jost Regular";
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

input.footerInputSubmit {
    width: 178px;
    height: 97px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F965FC;
    color: #FFF;
    font-family: "Jost Bold";
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 240px;
    top: -97px;
    padding: 0;
}

.footerSubscribe {
    margin-top: 50px;
}

.footerLinkSection1 {
    margin-top: 120px;
    width: 450px;
}

.footerLinkSection2 {
    margin-top: 120px;
    width: 230px;
}

.footerLinkSection3 {
    margin-top: 120px;
    width: 300px;
}

.footerLinkSection4 {
    margin-top: 120px;
    width: 340px;
}

/*вот этот кусок нужно порефакторить*/

.footerLinkSection1 h3, .footerLinkSection2 h3, .footerLinkSection3 h3 {
    color: #000;
    font-family: "Jost Bold";
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 40px 40px 40px;
}

.footerLinkSection4 h3 {
    color: #000;
    font-family: "Jost Bold";
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 40px 40px 20px;
}

/*the end*/


.footerMenu {
    list-style: none;
}

.footerMenu li, .footerMenu a {
    color: #000;
    font-family: "Jost Regular";
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 20px;
}

.copyrights {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.copyrightText {
    color: #000;
    font-family: "Jost Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerSocials a {
    display: inline-block;
}


.taCenter {
    text-align: center;
}

.sectionPadding {
    padding: 30px 60px 30px 60px;
}

.sectionBottomMargin {
    margin-bottom: 300px;
}

.padding0 {
    padding: 0;
}

.bottomPadding {
    padding-bottom: 0;
}

p {
    margin: 15px 0;
}

.width_em_01 {
    width: 0.1em;
}

.width_em_02 {
    width: 0.2em;
}

.width_em_03 {
    width: 0.3em;
}

.width_em_04 {
    width: 0.4em;
}
